extends ../layouts/root
include ../components/layout

block content
  #wrapper
    // Navigation
    nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') GeneTracker
      // /.navbar-header
      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            = rights.username
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-user
            li
              a(href='/users/' + rights.rid)
                i.fa.fa-user.fa-fw
                |  #{t('User Profile')}

            li.divider
            li
              a(href='/logout')
                i.fa.fa-sign-out.fa-fw
                |  #{t('Logout')}

      .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
          ul#side-menu.nav
            +menu-item(t('Dashboard'), '/', 'fa-dashboard')
            +menu-item(t('Animals'), '', 'fa-table')
              each animal in schema.animals
                +menu-subitem(t(animal.name), animal.path)

            each others in schema.others
              +menu-item(t(others.name), others.path, 'fa-bar-chart-o')

            if rights.admin
              +menu-item(t(schema.user.name), schema.user.path, 'fa-sitemap')

    #page-wrapper
      block wrapper

block append scripts
  script
    | var apitoken = '!{rights.apitoken}';

    

