//- Components file : base --
//- Based on mixins : http://jade-lang.com/reference/mixins/

mixin alert(type)
  .alert(class='alert-' + type, role='alert')
    if block
      block
    else
      p No content provided

mixin panel-heading(title, icon)
  .panel-heading&attributes(attributes)
    i(class=icon ? 'fa ' + icon : '')
    |  #{title}

mixin panel(type)
  .panel(class='panel-' + type)&attributes(attributes)
    block

mixin panel-simple(title, type, icon)
  +panel(type)&attributes(attributes)
    +panel-heading(title, icon)
    .panel-body
      block

