//- Components file : base --
//- Based on mixins : http://jade-lang.com/reference/mixins/

mixin alert(type)
    .alert(class='alert-' + type, role='alert')
        if block
            block
        else
            p No content provided