
// Theme imports --
@import (inline) "bootstrap/dist/css/bootstrap.min.css";                                // Bootstrap Core CSS
@import (inline) "datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"; // Datatables
@import (inline) "bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";          // Datepickers
@import (inline) "metisMenu/dist/metisMenu.min.css";                                    // MetisMenu CSS
@import (inline) "startbootstrap-sb-admin-2/dist/css/sb-admin-2.css";                   // Custom CSS
// @import (inline) "font-awesome/css/font-awesome.min.css";                            // Custom Fonts
@import (inline) "sweetalert/dist/sweetalert.css";                                      // Sweetalert

@import "toastr/toastr.less";                                                           // Toastr

// CDN imports --
@import (inline) "http://cdn.datatables.net/responsive/2.0.0/css/responsive.dataTables.min.css";

.navbar-brand {
  padding: 6px;
}

#form-panel {

  .datepicker {
    padding: 0;
  }

  span.label {
    font-size: large;
  }
}

#dashboard {
  a.huge {
    color: white;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

// Headers --
.btn-icon {
  margin-right:10px;
}

.page-header {
  .pull-right {
    margin-left: 20px;
  }
}

// Login --
.login-panel {
  margin-top: 30px !important;
}

#loginLogo {
  width: 100%;
  margin-top: 25%;
}