extends ../layouts/layout

block wrapper
  .row
    .col-lg-12
      h1.page-header Dashboard
    // /.col-lg-12
  // /.row
  .row
    .col-lg-3.col-md-6
      .panel.panel-primary
        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-tasks.fa-5x
            .col-xs-9.text-right
              .huge 26
              div Rats
        a(href='#')
          .panel-footer
            span.pull-left View Details
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-green
        .panel-heading
          .row
            .col-xs-3
              i.fa.fa-tasks.fa-5x
            .col-xs-9.text-right
              .huge 45
              div Souris
        a(href='#')
          .panel-footer
            span.pull-left View Details
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading
          i.fa.fa-bar-chart-o.fa-fw
          |  Area Chart Example
          .pull-right
            .btn-group
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                | Actions
                span.caret
              ul.dropdown-menu.pull-right(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
        // /.panel-heading
        .panel-body
          #morris-area-chart
        // /.panel-body
      // /.panel
    .col-lg-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-bell.fa-fw
          |  Notifications Panel
        // /.panel-heading
        .panel-body
          .list-group
            a.list-group-item(href='#')
              i.fa.fa-comment.fa-fw
              |  New Comment
              span.pull-right.text-muted.small
                em 4 minutes ago
            a.list-group-item(href='#')
              i.fa.fa-twitter.fa-fw
              |  3 New Followers
              span.pull-right.text-muted.small
                em 12 minutes ago
            a.list-group-item(href='#')
              i.fa.fa-envelope.fa-fw
              |  Message Sent
              span.pull-right.text-muted.small
                em 27 minutes ago
            a.list-group-item(href='#')
              i.fa.fa-tasks.fa-fw
              |  New Task
              span.pull-right.text-muted.small
                em 43 minutes ago
            a.list-group-item(href='#')
              i.fa.fa-upload.fa-fw
              |  Server Rebooted
              span.pull-right.text-muted.small
                em 11:32 AM
            a.list-group-item(href='#')
              i.fa.fa-bolt.fa-fw
              |  Server Crashed!
              span.pull-right.text-muted.small
                em 11:13 AM
            a.list-group-item(href='#')
              i.fa.fa-warning.fa-fw
              |  Server Not Responding
              span.pull-right.text-muted.small
                em 10:57 AM
            a.list-group-item(href='#')
              i.fa.fa-shopping-cart.fa-fw
              |  New Order Placed
              span.pull-right.text-muted.small
                em 9:49 AM
            a.list-group-item(href='#')
              i.fa.fa-money.fa-fw
              |  Payment Received
              span.pull-right.text-muted.small
                em Yesterday
          // /.list-group
          a.btn.btn-default.btn-block(href='#') View All Alerts
        // /.panel-body
      // /.panel
    // /.col-lg-4
  // /.row

 block scripts
   // Morris Charts JavaScript
   script(src='vendors/raphael/raphael-min.js')
   script(src='vendors/morrisjs/morris.min.js')
   script(src='js/morris-data.js')

   script(src='js/script.js')