extends ../layouts/root
include ../components/base

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        img#loginLogo(src=resPath + 'logo.large.png')
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-body
            each error in errors
                +alert('danger')= error

            form(role='form', method='POST', action='/login')
              fieldset
                .form-group
                  input.form-control(placeholder=t('Username'), name='username', type='text', autofocus='')
                .form-group
                  input.form-control(placeholder=t('Password'), name='password', type='password', value='')
                // Change this to a button or input when using this as a form
                input.btn.btn-lg.btn-success.btn-block(type='submit', value=t('Login'))
