extends ../layouts/layout

block wrapper
  h1 Users

  .row
    table#users.table.table-striped.table-hover
      thead
        tr
          th.first_name Prénom
          th.last_name Nom
          th.username Nom d'utilisateur


block scripts
  script(src='vendors/datatables/media/js/jquery.dataTables.min.js')
  script(src='vendors/datatables/media/js/dataTables.bootstrap.min.js')
  script(src='js/views/users.js')
